//*Abstract Folder
@use 'abstract/variables';
@use 'abstract/mixins';


//*Base Folder
@use 'base/base.scss';
@use 'base/animations';
@use 'base/typography';
@use 'base/utilities';


//*Component Folder
@use 'components/buttons';
@use 'components/header';
@use 'components/bg-video';
@use 'components/composition';
@use 'components/feature-box';
@use 'components/cards';
@use 'components/story';
@use 'components/form';
@use 'components/footer';


//*layouts folder
@use 'layouts/grid';


//*pages folder
@use 'pages/home';








