$brownish: #dba24a;
$reddish: #e12301;
$yellowish: #e1d800;
$maroon: #ce0000;
$light-yellow: #fffa8a;
$orange: #ff6500;
$silver: #f5efdb;
$red-2: #df3636;
$white: #fff;
//grey
$grey-light: #f7f7f7;


//font sizes
$default-font-size: 1.6rem;

//grid values
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;