$brownish: #dba24a;
$reddish: #e12301;
$yellowish: #e1d800;
$maroon: #ce0000;
$light-yellow: #fffa8a;
$orange: #ff6500;
$silver: #f5efdb;
$red-2: #df3636;
$white: #fff;
$black: #000;
$grey: #777;

//grey
$grey-light: #f7f7f7;
$grey-dark: #2e2929;
$violet: #7500D1;

//Gradients

$color-first-dark: #EC9F05;
$color-first-light: #FF4E00;

$color-second-dark: #b91372;
$color-second-light: #6b0f1a;

$color-third-dark: #ad1deb;
$color-third-light: #6e72fc;

$color-nav-one: #F67062;
$color-nav-two: #FC5296;

//font sizes
$default-font-size: 1.6rem;

//grid values
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;