@use '../abstract/variables';

.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 2rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: variables.$default-font-size;

        //*changing for <button>
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }    
    }

    &:focus,
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    &--yellow {
        background-color: variables.$light-yellow;
        color: #000;
    
        &::after {
            background-color: variables.$light-yellow;
        }
    }

    &--white {
        background-color: variables.$white;
        color: variables.$grey-dark;

        &::after {
            background-color: variables.$white;
        }
    }

    &--violet {
        background-color: variables.$violet;
        color: variables.$white;

        &::after {
            background-color: variables.$violet;
        }
    }

    &--red {
        background-color: variables.$reddish;
        color: variables.$white;

        &::after {
            background-color: variables.$reddish;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated{
        animation: moveInUpBtn 1s ease-in-out 0.5s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited {
        font-size: variables.$default-font-size;
        color: variables.$reddish;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid variables.$reddish;
        padding: 3px;
        transition: all 0.2s;
    }

    &:hover{
        background-color: variables.$reddish;
        color: variables.$white; 
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);       
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);       
        transform: translateY(0px);
    }
}
