@use '../abstract/variables';
@use '../abstract/mixins';

.composition{

    position: relative;
    
    &__photo{
       width: 55%;
       box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
       border-radius: 2px;
       position: absolute; 
       z-index: 10;
       transition: all 0.2s;
       outline-offset: 2rem;

       @include mixins.responseSize(tab-port) {
           position: relative;
           float: left;
           width: 33.333333%;
           box-shadow: 0 1.5rem 3rem rgba(black, 0.2);
       }

        &--p1{
            left: 0;
            top: -2rem;

            @include mixins.responseSize(tab-port) {
                top: -1rem;
                transform: scale(1.1);
            }

            @include mixins.responseSize(phone) {
                top: -1rem;
                transform: scale(1.4);
            }
        }

        &--p2{
            right: 0;
            top: 2rem;

            @include mixins.responseSize(tab-port) {
                top: 1rem;
                transform: scale(1.3);
                z-index: 100;
            }

            @include mixins.responseSize(phone) {
                top: 1rem;
                transform: scale(1.6);
                z-index: 100;
            }
        }

        &--p3{
            left: 20%;
            top: 10rem;

            @include mixins.responseSize(tab-port) {
                top: -1rem;
                transform: scale(1.1);
                left: 0;
            }

            @include mixins.responseSize(phone) {
                top: -1rem;
                transform: scale(1.4);
                left: 0;
            }
        }

        &:hover{
            outline: 1.5rem solid variables.$reddish;
            transform: scale(1.05) translateY(-0.5rem);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
            z-index: 20;
        }
    }


    //very weird but important
    &:hover &__photo:not(:hover){
        transform: scale(0.9);
    }
}