@use '../abstract/variables';
@use '../abstract/mixins';

.footer {
    font-size: 1.4rem;
    padding: 5rem 0 10rem 0;
    background-color: variables.$grey-dark;
    color: variables.$grey-light;

    @include mixins.responseSize(tab-port) {
        padding: 6rem 0 8rem 0;
    }
    
    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        height: auto;
        width: 15rem;
    }

    &__navigation {
        border-top: 3px solid #eee;
        padding-top: 2rem;
        display: inline-block;

        @include mixins.responseSize(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    } 

    &__link {
        display: inline-block;
        &:link,
        &:visited {
            color: variables.$grey-light;
            background-color: variables.$grey-dark;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.4s;
        }

        &:active,
        &:hover {
            color: variables.$reddish;
            box-shadow: 0 1rem 2rem rgba(black, 0.4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 3px solid #eee;
        padding-top: 2rem;
        float: right; 
        
        @include mixins.responseSize(tab-port) {
            width: 100%;
            float: none;
        }
    }
}
