@use '../abstract/variables';

.form {
    &__group:not(:last-child){
        margin-bottom: 1rem;
    }

    &__input {
     font-size: 1.5rem; 
     padding: 1.5rem 2rem;
     color: inherit;
     font-family: inherit;
     border-radius: 2px;
     background-color: rgba(white, 0.5);
     border: none;  
     border-bottom: 6px solid transparent;
     width: 90%;
     display: block;

     &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(black, 0.2);
        border-bottom: 6px solid green;
    }

    &:focus:invalid {
        border-bottom: 6px solid variables.$red-2; 
    }

    &::-webkit-input-placeholder {
        color: variables.$grey;
    }
    }


    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        margin-top: 0.7rem;
        margin-left: 2rem;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 33%;
        display: inline-block;
    }

    &__radio-label {
        font-size: variables.$default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    } 

    &__radio-input {
        display: none;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid variables.$red-2;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.5rem;

        &::after {
            content: '';
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: variables.$red-2;
            opacity: 0;
            transition: opacity 0.4s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}