@use '../abstract/variables';

.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        background-color: white;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(black, 0.3);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient(variables.$color-nav-one, variables.$color-nav-two);
        z-index: 1000;
        
        transition: transform 0.4s cubic-bezier(0.87, 0, 0.13, 1);
    }

    &__nav {
        height: 100vh;
        width: 0%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;

        transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            font-size: 3rem;
            display: inline-block;
            font-weight: 300;
            color: white;
            padding: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, 
            transparent 0%, transparent 50%, white 50%);
            background-size: 230%;
            transition: all 0.4s ease;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: variables.$color-nav-one;
            transform: translateX(1rem);
        }

        span {
            margin-right: 1rem;
            display: inline-block;
        }
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: variables.$grey-dark;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }

        &::before {
            top: -0.8rem;
        }

        &::after {
            top: 0.8rem;
        }
    }

    //!Button functionalities
    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }


    //*checkbox functionalities
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        width: 100%;
        opacity: 1;
    }

    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked ~ &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked ~ &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}