@use '../abstract/mixins';
@use '../abstract/variables';

.popup {

    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.9);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    &:target {
        opacity: 1;
        visibility:visible;
    }

    &__content {

        @include mixins.absCenter;
        overflow: hidden;
        width: 75%;
        height: 50rem;
        background-color: white;
        box-shadow: 0 2rem 4rem rgba(black, 0.2);
        border-radius: 2px;
        display: table;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.25);
        transition: all 0.4s 0.2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: top;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 3rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid variables.$grey-dark;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid variables.$grey-dark;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &__close {
        &:link,
        &:visited {
            color: variables.$grey-dark;
            position: absolute;
            top: 0.5rem;
            right: 2.5rem;
            font-size: 5rem;
            text-decoration: none;
            display: inline-block;
            transition: all 0.1s;
            line-height: 1;
        }

        &:hover {
            color: variables.$red-2;
        }
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}