@use '../abstract/variables';
@use '../abstract/mixins';

.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(variables.$black, 0.1);
    background-color: rgba(variables.$white, 0.8);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 7rem;
    font-size: variables.$default-font-size;
    transform: skewX(-12deg);

    @include mixins.responseSize(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 5rem;
        
    }

    @include mixins.responseSize(phone) {
        transform: skewX(0);
        width: 100%;
    }
    &__row {
        @include mixins.responseSize(phone) {
            max-width: 70rem;
        }
    }
    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(60% at 50% 50%);
        
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        
        transform: translate(-2rem, -1rem) skewX(10deg);

        @include mixins.responseSize(phone) {
            transform: translate(-2rem, -1rem) skewX(0);
            margin: auto;
        }
    }

    &__img {
        height: 100%;
        backface-visibility: hidden;
        transition: all 0.5s;
    }

    &__text {
        transform: skewX(10deg);

        @include mixins.responseSize(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        position: absolute;
        color: variables.$white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover &__img {
        filter: brightness(30%);
    }
}