@use '../abstract/mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //always use this instead of 10px
    font-size: 62.5%; //! 1rem = 10px => 10px/16px = 62.5%
    
    @include mixins.responseSize(big-desktop) {
        font-size: 75%; //? 1rem = 12 px => 12px/16px = 75%
    }

    @include mixins.responseSize(tab-land) {
        font-size: 56.25%; //* 1rem = 9px => 9px/16px = 56.25%
    }

    @include mixins.responseSize(tab-port) {
        font-size: 50%; //! 1rem = 8px => 8px/16px = 50%
    }

    @include mixins.responseSize(phone) {
        font-size: 50%;  //? 1rem = 8px => 8px/16px = 50%
    }
}

body{
    padding: 1.5rem;
    box-sizing: border-box;
}