@use '../abstract/variables';

.section-about {
    background-color: variables.$grey-light;
    padding: 25rem 0;
    margin-top: -20vh; 
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, variables.$reddish, variables.$orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    user-select: none;
    &:hover{
        transform: skewY(5deg) skewX(10deg);
        text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    }
}

.section_features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.493),
     rgba(49, 49, 49, 0.123)),
     url('/img/nat-9.jpg');
     background-size: cover;
     margin-top: -10rem;
     transform: skewY(-7deg);

     & > * {
         transform: skewY(7deg);
     }
}

.section_delivery {
    background-color: variables.$grey-light;
    padding: 25rem 0 10rem 0;
    margin-top: -10rem;
}
