@use '../abstract/variables';
@use '../abstract/mixins';



.row{
    max-width: variables.$grid-width;
    margin: 0 auto;
    
    &:not(:last-child){
        margin-bottom: variables.$gutter-vertical;

        @include mixins.responseSize(tab-port) {
            margin-bottom: variables.$gutter-vertical-small;
        }
    }

    @include mixins.responseSize(tab-port) {
        max-width: 80rem;
        padding: 0 3rem;
    }
    
    
    @include mixins.responseSize(phone) {
        max-width: 35rem;
    }

    @include mixins.clearfix;

    //^ for starts with
    //* for contains
    //$ for ends with

    [class^="col-"]{
        float: left;

        &:not(:last-child){
            margin-right: variables.$gutter-horizontal;

            @include mixins.responseSize(tab-port) {
                margin-right: 0;
                margin-bottom: variables.$gutter-vertical-small;
            }
        }

        @include mixins.responseSize(tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{variables.$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{variables.$gutter-horizontal}) / 3);   
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{variables.$gutter-horizontal}) / 3) + #{variables.$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{variables.$gutter-horizontal}) / 4);
    }
    

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{variables.$gutter-horizontal}) / 4) + #{variables.$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{variables.$gutter-horizontal}) / 4) + 2 * #{variables.$gutter-horizontal});
    }
}
